<!DOCTYPE html>
<html>

<head>

	<title>Home</title>

<link rel="stylesheet" href="css/style.css">
<link rel="icon" href="../img/logo.jpg" type="image/gif/png/jpg">

</head>

<body>
	<header>
		<div class="container">
			<nav>
				<div class="logo">
					<img src="../img/logo.jpg" alt="logo">
				</div>
				<div class="menu">
					<ul>
						<li><a href="Home.html">Home</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">About Us</a></li>
						<li><a href="">Contact Us</a></li>
					</ul>
				</div>
			</nav>
		</div>
	</header>


	<section class="services">
		<div class="container">
			<div class="services-inner">
				<h1>Medical Healthcare Management System</h1>
				<h3><a href="../Notifications/Notifications.html">Notifications</a></h3>
				<div class="all-services">
					<div class="single-service">
						<a href="../Views/Patients.php">Today's appointment</a>
					</div>
					<div class="single-service">
						<a href="../Views/status.html">Set Your Status</a>
					</div>
					<div class="single-service">
						<a href="../Views/history of patient.html">Patients history</a>
					</div>
					<div class="single-service">
						<a href="../Views/Patients Profile.html">Patients Profile</a>
					</div>
					<div class="single-service">
						<a href="../Views/upload prescription.html">Upload Prescription</a>
					</div>
					<div class="single-service">
						<a href="../Views/set enter time.php">Set Your Enter Time</a>
					</div>
					<div class="single-service">
						<a href="../Views/set Exit time.html">Set Your Exit Time</a>
					</div>
					<div class="single-service">
						<a href="../Views/Request.html">Request</a>
					</div>
				</div>
			</div>
		</div>
	</section>


	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col">
					<h4>company</h4>
					<ul>
						<li><a href="#">about us</a></li>
						<li><a href="#">our services</a></li>
						<li><a href="#">privacy policy</a></li>

					</ul>
				</div>
				<div class="footer-col">
					<h4>get help</h4>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Disclaimer</a></li>
						<li><a href="#">Career</a></li>

					</ul>
				</div>
				<div class="footer-col">
					<h4>Emergency</h4>
					<ul>
						<li><a href="#">Ambulance</a></li>
						<li><a href="#">Hotline</a></li>
						<li><a href="#">Location</a></li>



					</ul>
				</div>
				<div class="footer-col">
					<h4>follow us </h4>
					<div class="social-pages">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>