<!DOCTYPE html>
<html>
<style>
table, th, td {
  border:1px solid black;
}
</style>
<body>


<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Age</th>
    <th>Desease</th>
  </tr>
  <tr>
    <td>Alfreds </td>
    <td>36</td>
    <td>Cancer</td>
  </tr>
  <tr>
    <td>John</td>
    <td>55</td>
    <td>Dibetic</td>
  </tr>
  <tr>
    <td>Lidiya</td>
    <td>68</td>
    <td>Kidney desease</td>
  </tr>
</table>
<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>company</h4>
          <ul>
            <li><a href="#">about us</a></li>
            <li><a href="#">our services</a></li>
            <li><a href="#">privacy policy</a></li>

          </ul>
        </div>
        <div class="footer-col">
          <h4>get help</h4>
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Disclaimer</a></li>
            <li><a href="#">Career</a></li>

          </ul>
        </div>
        <div class="footer-col">
          <h4>Emergency</h4>
          <ul>
            <li><a href="#">Ambulance</a></li>
            <li><a href="#">Hotline</a></li>
            <li><a href="#">Location</a></li>



          </ul>
        </div>
        <div class="footer-col">
          <h4>follow us </h4>
          <div class="social-pages">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
        </div>
      </div>
    </div>
  </footer>



</body>
</html>