<!DOCTYPE html>
<html>
<head>
	
	<title>submit your request</title>
</head>
<body>
	<form>
	<p><h2>Select your Request</h2></p>
	<select name="">

		<option value="leave">Request for Leave</option>
		<option value="Time change">Request for Change my Time</option>
		<option value="Others">Others</option>
	</select><br>
<br>

	<textarea id="" rows="6" cols="50">
Give a valid reason for Request
	
  </textarea>
  <br>
  <input type="submit" name="submit" value="Submit">
		
	</form>


</body>
</html>