<!DOCTYPE html>
<html>
<head>
	
	<title></title>
</head>
<body align="center">
<fieldset>
	<legend><h1>Doctor's Status</h1></legend>
	<label for="file">Free from 1PM to 2PM</label>
	<progress id="file" value="70" max="100" >70%</progress><br>

	<label for="file">Busy from 2PM to 3PM</label>
	<progress id="file" value="80" max="100" >80%</progress><br>

	<label for="file">Busy from 3PM to 4PM</label>
	<progress id="file" value="50" max="100" >50%</progress><br>
</fieldset>

</body>
</html>