<html>
	<head>
		<title>upload prescription</title>

	</head>
	<link rel="stylesheet" href="css/style.css">
	<link rel="icon" href="../img/logo.jpg" type="image/gif/png/jpg">



	<body>
		<form method="POST" action="../Controllers/upload2.php" enctype="multipart/form-data">
			<fieldset align="left">
			<legend>Upload Prescription</legend>
			<table align="left">
				<tr>
					
					<td>
						Patient id:<input type="text" >

						<td>
					Image:	<input type="file" name="myfile">
					</td>
					</td>
				</tr><br>
				<br>
				<input type="submit" name="submit" value="Submit">
				</table>
			</fieldset><br>
			
		</form>
		<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="footer-col">
					<h4>company</h4>
					<ul>
						<li><a href="#">about us</a></li>
						<li><a href="#">our services</a></li>
						<li><a href="#">privacy policy</a></li>

					</ul>
				</div>
				<div class="footer-col">
					<h4>get help</h4>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Disclaimer</a></li>
						<li><a href="#">Career</a></li>

					</ul>
				</div>
				<div class="footer-col">
					<h4>Emergency</h4>
					<ul>
						<li><a href="#">Ambulance</a></li>
						<li><a href="#">Hotline</a></li>
						<li><a href="#">Location</a></li>



					</ul>
				</div>
				<div class="footer-col">
					<h4>follow us </h4>
					<div class="social-pages">
						<a href="#"><i class="fab fa-facebook-f"></i></a>
						<a href="#"><i class="fab fa-twitter"></i></a>
						<a href="#"><i class="fab fa-instagram"></i></a>
						<a href="#"><i class="fab fa-linkedin-in"></i></a>
					</div>
				</div>
			</div>
		</div>
	</footer>

	</body>
</html>